/* *{
    color: white;
} */
main{
    text-align: center;
}
body{
    background: black url(../img/pexels-photo-1229861.jpeg)  no-repeat fixed center;
    background-size: cover;
}
header{
    background-color:#0699ca42;
    
}
#personal{
    background-color: #970d3f70;
    width: 100%;
    
}
h1,h4,img,p{
    margin: 5px;
    
}
footer{
    background-color: #9338e657;
    text-align: center;
    
}
ul{
    list-style: none;
    list-style-type: none;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;

}
li a:hover{
    background-color: teal;
}
/* footer{
    position: absolute;
    bottom:0px;
    width: 100%;
    height:100px;
} */
#infoNav{
    background-color: #006400db;
}
.card-img, .card-img-bottom, .card-img-top{
    width:100px;
}
a i{
    size: 7ex;
}

/*/////animation///*/
nav{
    animation-name:slidingStartLeft;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
section{
    animation-name:slidingStartRight;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
h1:hover{
    animation-name:scaleMe;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
img:hover{
    animation-name:rotateMe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

i{
    animation-name:rotateMe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
} 
/*// keyframes//*/
@keyframes rotateMe{
    from {
        transform: rotateZ(0deg);   
    }
    to {
        transform:rotatez(360deg);
    }
    
}
@keyframes scaleMe{
    frome{
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
@keyframes slidingStartRight{
    from{
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slidingStartLeft{
    from{
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0);
    }
}